/* #title {
  background-color: #ff4c68;
} */
/* Only container föluid in title */
body {
  overflow-x: hidden;
  overflow-x: clip !important;

}
h1 {
  font-size: 2.4rem !important;
}
#title .container-fluid {
  padding: 0 5% 7%;
  background-color: #ff0026; /* !important; */
}
#title .navbar {
  padding-top: 0;
}
.nav-img {
  margin-right: 10px;
  position: relative;
  bottom:5px;
}

* {
  font-size: 1.3rem;
}

#brandn {
  width:450px;
  font-size: 2.5rem;
  font-weight:bold;
  line-height:3;
  color: yellow;
  margin: 0;
}
/* 
#features {
  background-size: 800px;
  background-image: url("images/pexels-lee-chinyama-10902922.jpg") !important;
  padding: 0 12%;
} */
#features {
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;  
  
  /* background-color: white; */
  position: relative;

  /* z-index: 1;  ONLY WORKS IF ABSOLUTE REL etc.
  if ip6s was over #features, no need z-index*/
}

.testimonial-t {
  font-family: Ubuntu;
}

.testimonial-img {
  position: sticky;
  margin-bottom: 2rem;
  /* top: 60rem;
  left: 0.5rem; */
  width:25%;
  max-width: 200px;
  border-radius: 100%;
  /* float:left; */
}

.carousel-item {
    min-height: 650px;
}
#testimonials {
  /* padding: 7% 15%; */
  /* background-image: url("init copy/images/pexels-lee-chinyama-10902922.jpg"); */
  background-color: #ef8198;
  color: #fff;
  text-align: center;
}

#cta{
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #ff4c68;
  text-align: center;
}

.cta-t {
  margin: 0 10vw 10vw 10vw;
  background-color: #ff4c68;
  font-size: 1.9rem;
}
.btn-cta {
  margin-bottom: 30px;
}

#dienstleistungen {
  padding: 4%;
  /* background-image: url("images/pexels-lee-chinyama-10902922.jpg"); */
}

#footer {
  padding: 7%;
  text-align: center;
}
#footer p{
  font-size: 0.8rem;
}
#footer i:hover{
  color: gold;
}

.card {

}
.colcard {
  /* margin: 20px 0; */
  padding: 3% 2%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}


@media screen and (max-width: 900px) {
  #features {
    /* background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;  
    background: white no-repeat;
    background-position: 50% 50%; */
  }
}
@media screen and (min-width: 701px) {
  h2.testimonial-t {
    /* font-family: Montserrat; */
    font-weight: 600;
    /* font-size:1.75rem; */
    font-size:2rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 700px) {
  h2.testimonial-t {
    /* font-family: Montserrat; */
    font-weight: 600;
    /* font-size:1.75rem; */
    font-size:1.3rem;
    line-height: 1.5;
  }
  .carousel-item {
    min-height: 450px;
  }
  .cta-t {
    margin: 0 10vw 10vw 10vw;
    background-color: #ff4c68;
    font-size: 1.5rem;
  }
}

.pr-logo {
  margin:20px;
  width: 140px;;
}

#press {
  background-color: #ef8198;
  text-align: center;
  padding-bottom: 50px;
}

h2 {

  /* font-family: Montserrat; */
  font-weight: 600;
  font-family: Ubuntu;
  /* font-size:1.75rem; */
  font-size:2rem;
  line-height: 1.5;
}
.free-p {
  font-size: 1.5rem;
}
.not-free-t {
  font-size: 1.3rem;
}
/* .testimonials * {
  font-size: 0.7rem;
} */
.features * {
  text-align: center;
  line-height: 2;
}

.fcol {
  margin: 2.5rem 0;
}

.card-body {
  /* min-height:450px;  ### Replaced with bootstraps own class h-100 :::: Better replace back */

  /* padding-bottom: 15%;  Doesnt work */
}

/* .cardbtn {       :::works with self made up
  position: absolute;
  left:20%;
  right: 20%;
  bottom: 4%;
} */

a {
  color: black;
  text-decoration: none;
}
.cbm {
  /* margin-top: 40px; */
}

.thin {
  color: #8f8f8f;
  font-size: 0.9rem;
}

h3 {
  font-size: 1.5rem;
  /* font-family: "Montserrat"; */
  font-weight: bold;
}

.fa-solid {
  font-size: 3rem;
  color: #ef8172;
}

.fa-solid:hover {
  color: #ff4c68;
}

.btn0 {
  margin: 2rem 2% 0 0;
  /* width: 20vw; */
  font-size: 1.3rem;
}
.btn1 {
  font-size: 1.3rem;
  margin: 2rem 0 0 0;
  /* width: 20vw; */
}
#titulo {
  background: linear-gradient(
      to left,
      #b4e61c 20%,
      #fa7500 30%,
      #6fa006 70%,
      #000000 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}  
.phones {
  position: relative;
  top: 4rem;
}
#s9p {
  display: inline;
  position: absolute;
  width: 370px;
  
  top: -30px;
  left:60px;
}
#ip6s {
  display: inline;
  position: absolute;
  width: 400px;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 7px;
}
.waviy span {
  /*font-family: '', cursive;
  */position: relative;
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  animation: waviy 2s infinite;
  animation-delay: calc(.1s * var(--i));

}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
@media screen and (min-width: 992px) {
  /* #features {
    background-color: white !important;
    background-image: none;
  } */
  #features {
    background: url('images/pexels-lee-chinyama-10902922.jpg') no-repeat 50% 50%!important;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;  
    background: white no-repeat;
  }
  #txt {
    position: relative;
    display: inline-block;
    bottom: 70px;
    left: 17vw;
    rotate: 30deg;
}
  #ip6s {
    width: 43vw !important;
    right: 14vw;
    /* position: relative; */
  }
  #s9p {
    /* position: relative; */
    /* bottom:80px !important; */
    width: 36vw;
    /* left: 0; */
  }
  .phones {
    width: 40vw;
    max-width: 600px;
    /* margin-top:5rem;  relative doesnt make any difference*/
    /* top:500px; */
    bottom: 800px;
    left: 10vw;
    /* width: 400px; */
    /* margin-left: 20px; */
    /* position: relative; */
    /* right: 70px; */
    display: inline;
    /* width:60%; */
    /* height: 0px; */
    /* width: 0px; */
    /* transform: rotate(30deg); */
    /* margin-bottom: 490px; */
  }
  /* div.phones * {
    width: calc(250px + 5vw) !important;
  } */
  /* div.phones {
    width: calc(40% + 5vw) !important;
  } */
  #title {
    max-height: 1040px;
  }
  #title > div > div {
    margin-right: 30px;
  }
}

@media screen and (max-width: 991px) {
  #txt {
    position: relative;
    display: inline-block;
    bottom: -5px;
    left: 55vw;
    rotate: 30deg;
    font-size: 4px !important;
}
  .waviy span {
    font-size: 1.2rem;
}
  /* div.row {
    margin-right: 7px;     |
  }                 SAME \|/     */
  #title > div > div {
    margin-right: 7px;
  }
  .tinttext {
    color: aliceblue
  }
  .thin {
    color: bisque;
    font-size: 0.9rem;
  }

  #ip6s {
    margin-top:2rem;
    width: 70vw;
    margin-left: 0;
    /* margin-right: 50px; */
    position: relative;
    right: -22vw;
    /* left:5vw; Alles was hier steht wird nach unten übertragen falls nicht geändert oder !important */
    /* transform: rotate(20deg); */
  }
  #s9p {
    width: 70vw;
    left: 0;
  }
  .phones {
    /* left: 20%; */
    /* width: 5vw !important; */
    /* left: 0; */
    /* right: 0; */
    /* padding: 0 40%; */
  }
  #title {
    max-height: 1400px;
  }
}
@media screen and (max-width: 642px) {
  .list-unstyled li a {
    font-size: 1rem !important;
  }
  #branddiv {
    right: 65px !important;
  }
  .nav-img {
    top: -11vw;
    width: 92vw !important;
    height: auto !important;
  }
  #titulo {
    font-size: 12vw !important;
    left: -70vw !important;
  }
  .greet {
    text-align: center;
  }
  .tb {
    width: 35vw;
  }
  .btn0 {
    /* margin-left: 8%; */
    width: 45%;
    margin-right: 7%;
  }
  .btn1 {
    margin-left: 7%;
    /* width: 60%; */
    max-inline-size: 120px;
    overflow-wrap: break-word;
  }
  .phones {
    /* padding: 0 0 0 20%; */
    /* left:10%; */
  }
  #s9p {
    left: 0;
  }
  #ip6s {
    /* margin-top:2rem; */
    /* width: 400px; */
    margin-left: 0;
    /* margin-right: 50px; */
    position: relative;
    bottom: 20px;
    /* left: 8rem; */
    /* left: 0; */
    /* right: 6vw !important; */
    /* right: 2rem; */
    /* transform: rotate(10deg); */
  }
  #title {
    max-height: 1400px;
  }
  h1 {
    font-size: 2.4rem !important;
  }
}
@media screen and (max-width: 470px) {
  .waviy {
    bottom: 35px !important;
    rotate: 20deg !important;
    left: 50vw !important;
  }
  .waviy span {
    font-size: 0.7rem;
  }
  #break-word {word-break: break-word;}
  .btn0 {
    word-break: keep-all;
    margin: 2rem 6% 0 4%;
    /* width: 20vw; */
    width: 32vw;
    font-size: 4vw;
  }
  /* .btn1 {
    /* word-break: !important; */
    /* word-wrap:normal; */
    /* font-size: 4vw; */
    /* width: 20vw; */
    /* width: 32vw; */
    /* margin: 2rem 0 0 4%;
  } */
  .btn1 {
    font-size: 4vw;
    margin-left: 10%;
    /* width: 60%; */
    max-inline-size: 90px;
    overflow-wrap: break-word;
  }
  h1 {
    text-align: center;
    font-size: 1.6rem !important;
  }
  #ip6s {
    /* width: 120%; */
    bottom: 70px;
  }
  /* #s9p {
    width: 230px;
  } */
  #title {
    max-height: 1100px !important;
  }
  .cta-t {
    font-size: 20px !important;
  }
  .btn-cta {
    width: 130px;
    font-size: 1rem;
    /* margin: 0 0 0 50px; */
  }

  .card-body * {
    /* height: 400px; */
    font-size: 1rem;
  }
  .card-header h3 {
    font-size: 1.1rem;
  }
  h2.testimonial-t {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1rem;
  }
}
/* DETERMINE LG MD SM on javascript bootsrap */


/* Add containerfluid everywhere with padding? Yes also Testimonials */
.container-fluid {
  padding: 5% 8%;
}

h1 {
  /*font-family: "Montserrat";*/ /* -Light etc. in google fonts */
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}

.center-t {

}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/*                  TIPS






.container.title = class="container title"


section#background-color:white * ??? {
  font-color: black
}
else ??? {
  font-color :black
}
 also:
 colored-section { red }

#peachy-section {
  orange
}

div#title the div with the id title, not child

element -> class -> id -> internal css:
dont use indstead (only as seperation or maybe for bootstrap elements)

center-t /center-m etc. class indstead of giving all the property center*/

footer {
  font-family: "Montsserat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

/* h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; } */

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  height: 70vh; }

.footer-16371 {
  padding: 7rem 0;
  font-family: "Ubuntu", sans-serif; }
  .footer-16371 .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900; }
    .footer-16371 .footer-site-logo a {
      color: #4200ff; }
  .footer-16371 .nav-links {
    padding: 0;
    margin: 0; }
    .footer-16371 .nav-links li {
      display: inline-block; }
      .footer-16371 .nav-links li a {
        padding: 20px;
        color: #000; }
        .footer-16371 .nav-links li a:hover {
          color: #4200ff; }
  .footer-16371 .social h3 {
    font-weight: bold;
    font-size: 18px;
    color: #000; }
  .footer-16371 .social ul li {
    display: inline-block; }
    .footer-16371 .social ul li a {
      display: inline-block;
      padding: 10px; }
    .footer-16371 .social ul li.in a {
      color: #df588a; }
    .footer-16371 .social ul li.tw a {
      color: #15b8ff; }
    .footer-16371 .social ul li.fb a {
      color: #3742d0; }
    .footer-16371 .social ul li.dr a {
      color: #fa38c1; }
    .footer-16371 .social ul li.pin a {
      color: #dd4d5a; }
  .footer-16371 .copyright {
    color: #999999; }
